<app-hero></app-hero>
<div class="bg-primary">
  <div class="container p-4">
    <h3 class="page-title text-capitalize text-center text-md-start py-3 fw-bold m-0 fs-4">episodios</h3>
  </div>
</div>

<div class="container py-5">
  <div class="row row-cols-md-2 justify-content-center gy-4">
    <app-episode class="col-12 col-md-4"></app-episode>
    <app-episode class="col-12 col-md-4"></app-episode>
    <app-episode class="col-12 col-md-4"></app-episode>
    <app-episode class="col-12 col-md-4"></app-episode>
  </div>
</div>

<div class="container d-flex justify-content-center mb-5">
  <app-button></app-button>
</div>