@import '../../../styles.scss';

.selectedCharacter {
  &-imgContainer {
    width: 75px;
    height: 75px;
  
    img {
      width: inherit;
      height: inherit;
    }
  }

  &-name {
    color: $colorfont-dark;
  }

}

.error {
  &-img {
    max-width: 300px;
  }
}